.venv/
venv/
__pycache__/
*.pyc
pyvenv.cfg
cachedir.tag
.idea/
.env
data/processed/manifest.csv
data/processed/ei_maps/
data/processed/ei_maps_destriped/
data/processed/masks/
data/processed/norm_stats.json
notebooks/.ipynb_checkpoints/
TODO.py
models/
outputs/
