.venv/
venv/
__pycache__/
*.pyc
pyvenv.cfg
cachedir.tag
.idea/
.env
data/processed/manifest.csv
data/processed/ei_maps/
data/processed/ei_maps_destriped/
data/processed/masks/
data/processed/norm_stats.json
notebooks/stripe_analysis.ipynb
notebooks/destriping_relevance.ipynb
notebooks/.ipynb_checkpoints/
notebooks/results/.ipynb_checkpoints/
 **/.ipynb_checkpoints/
models/
outputs/
